[Unit]
Description=HoshimiTech Discord Bot
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory={{COMPOSE_DIRECTORY}}
ExecStart=/usr/bin/docker compose up -d --build
ExecStop=/usr/bin/docker compose down

Restart=always
RestartSec=5

TimeoutStartSec=0
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target